<form [formGroup]="form" class="form" >
  <pre>{{form.value | json}}</pre>
    <div class="form-field">
      <label for="name">First Name</label>
      <input formControlName="firstName" type="text" id="name" placeholder="Enter your name">
    </div>
    <div class="form-field">
      <label for="last-name">Last Name</label>
      <input formControlName="lastName" type="text" id="last-name" placeholder="Enter your last name">
    </div>
    <div class="form-field">
      <label for="nickname">Nickname</label>
      <input formControlName="nickname" type="text" id="nickname" placeholder="Come up with a nickname">
      <ng-container>
        <div class="input-info">Checking nickname...</div>
      </ng-container>
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input formControlName="email" type="email" id="email" placeholder="Provide your email">
    </div>
    <div class="form-field-inline-group">
      <div class="form-field form-field--small">
        <label for="year-of-birth">Year of birth</label>
        <!-- <select formControlName="yearOfBirth" id="year-of-birth">
          <option [value]="year">{{year}}</option>
        </select> -->
      </div>
      <div class="form-field form-field--small">
        <label for="passport">Passport Number</label>
        <input formControlName="passport" type="text" id="passport" placeholder="Provide Passport Data">
      </div>
    </div>
    <fieldset formGroupName="address">
      <legend>Address</legend>
      <div class="form-field">
        <label for="full-address">Full Address</label>
        <input formControlName="fullAddress" type="text" id="full-address" placeholder="Street name and house number">
      </div>
      <div class="form-field">
        <label for="city">City</label>
        <input  formControlName="city" type="text" id="city" placeholder="City">
      </div>
      <div class="form-field">
        <label for="post-code">Post Code</label>
        <input formControlName="postCode" type="number" id="post-code" placeholder="Post code">
      </div>
    </fieldset>
    <fieldset formArrayName="phones">
      <legend>Phones</legend>
      <div class="control-buttons">
        <button class="add-button" (click)="addPhone()" type="button">+</button>
      </div>
      <div class="form-field" *ngFor="let phone of form.controls.phones.controls; index as i">
        <label for="phone-{{i}}">Phone number</label>
        <input [formControlName]="i" type="text" placeholder="Enter Phone Number" id="phone-{{i}}" />
        <button class="add-button" (click)="removePhone(i)" type="button">-</button>
      </div>
    </fieldset>
    <fieldset>
      <legend>User Skills</legend>
  
    </fieldset>
    <fieldset >
      <legend>Password</legend>
      <div class="form-field">
        <label for="password">Create Password</label>
        <input type="password" id="password" placeholder="Enter password...">
      </div>
      <div class="form-field">
        <label for="confirm-password">Confirm Password</label>
        <input  type="password" id="confirm-password" placeholder="Enter password...">
      </div>
    </fieldset>
    <button >Save</button>
    <button class="reset-button" type="reset">Reset</button>
  </form>
  
  <ng-template #loading>
    <p>Skills are loading...</p>
  </ng-template>
  
  
  