<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input  type="text" formControlName="username"/>
    <div *ngIf="form.controls.username.pending">
        Username is pending...
    </div>

    <app-dropdown formControlName="gender" [genders]="genders"></app-dropdown>

    <input  type="email" formControlName="email"/>
    <input  type="password" formControlName="password"/>

    <div>
        <label for="addOptionAddress" > Add option address</label>
        <select formControlName="addressOption" (change)="onAddressOptionChange($event)">
            <option value="add">Add</option>
            <option value="remove">remove</option>
        </select>
    </div>
    <div formArrayName="addresses">
       <div *ngFor="let address of form.controls.addresses.controls; index as i" [formGroupName]="i">
            <input type="text" placeholder="city" formControlName="city"/>
            <input type="number" placeholder="zipcode" formControlName="zipcode"/>
            <input  type="text" placeholder="country" formControlName="country"/>
            <input type="text" placeholder="street" formControlName="street"/>
       </div>
    </div>
    <button [disabled]="form.invalid"> save</button>
</form>